a.button_link {
    display: inline-block;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-decoration: none;
    width: 150px;
}
a.button_link:hover {
    background-color: #efe;
}

div.button_text {
    color: #555;
}

div.map_block {
    display: inline-block;
    width: 100%;
    height: auto;
}

div.map_button_block {
    float:left;
}

div.map_description_block {
    margin-left: 14px;
    vertical-align: center;
    float:left;
}