a.button_link {
    display: inline-block;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: rgba(255, 255, 255, 0.6);;
    border: 1px solid #ddd;
    text-decoration: none;
    width: 40px;
    float: right;
}

a.button_link:hover {
    background-color: #efe;
}

div.button_text {
    color: #555;
}

table.course_table {
    display: inline-block;
    border-collapse: collapse;
    float: left;
}

th.table_header, td.table_content {
    border-bottom: 1px solid #000;
    width: 150px;
    text-align: center;
}

th.table_header_id, td.table_id {
    border-bottom: 1px solid #000;
    width: 75px;
    text-align: center;
}

td.table_button, th.empty_header {
    border-bottom: 1px solid #000;
    width: 50px!important;
    text-align: center;
}

div.course_text {
    float: left;
}


div.new_course_form_block {
    display: inline-block;
    float: left;
    margin-left: 100px;
}

input.save {
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: rgba(255, 255, 255, 0.6);;
    border: 1px solid #969698;
    text-decoration: none;
    width: 100%;
}
input.save:hover {

    background-color: #efe;
}

input.course_text {
    margin-bottom: 28px;
}

label.course_label {
    display: inline-block;
    width: 100px;
    text-align: left;
}