body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-image: url("../resources/background.jpg");
}

a, a:visited, a:link {
    color: #00acdf;
    text-decoration: none;
}

a:hover, a:active {
    color: #007193;
    text-decoration: underline;
}

h1.nav_bar {
    top: 0;
    position: fixed;
    width: 100%;
    padding-top: 7px;
    margin-top: 0px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    max-height: 50px;
	z-index:99999;
}

button.nav_button {
    vertical-align: top;
    margin-left: 25px;
}

img.nav_moodle_logo {
    height: 24px;
    width: 84px;
    vertical-align:super;
}

img.nav_icon {
    vertical-align:super;
}

img.nav_user_pic {
    border-radius: 50%;
}

div.nav_user_block {
    float: right;
    margin-right: 25px;
}

span.nav_username {
    font-size: 20px;
    vertical-align:super;
}

footer.footer_bar {
    color: #fff!important;
    background-color: #373a3c!important;
    position: fixed;
    bottom: 0;
    min-height: 100px;
    width: 100%;
}

div.footer_bar_container {
    margin-left: 79px!important;
    padding-left: 15px;
    padding-top: 35px;
    margin: 0 auto;
}

div.dashboard_nav {
    top: 50px;
    background-color: #eceeef;
    position: fixed;
    padding: 20px;
    right: auto;
    left: 0;
    width: 285px;
    height: 100%
}

nav.link_group {
    padding-left: 0;
    margin-bottom: 0;
}

a.dash_nav_links {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-decoration: none;
}
a.dash_nav_links:hover {
    background-color: #efe;
}

div.dash_selection {
    text-align:inherit;
    color: #555;
}

div.body_block {
    color: #111;
    margin-left: 353px;
    margin-right: 15px;
    margin-top: 78px;
    margin-bottom: 130px;
}

div.header_body_block {
    font-size: 15;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 28px;
}

h2.header_body_title {
    margin-left: 28px;
}
